.section-3 .left{
    float: left;
}
.section-3 .right{
    float: right;
}

.section-3 .right p{
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    line-height: 1.2;
    margin: 0 auto 14px;
    color: black;
    width: 90%;
    max-width: 400px;
    font-size: 18px;
    text-align: center;
}